.header {
    display: flex;
}
.logo {
    width: 125px;
    margin-left: 20px;
    margin-top: 10px;
}

body {
    margin: 0;
    background-color: black; /* Fond noir pour le reste de la page */
    display: flex;
    height: 100vh;
    position: relative; /* Assure que les éléments enfants sont positionnés par rapport à ce conteneur */
    z-index: -1; /* Z-index élevé pour placer le fond noir au premier plan */
}

.circle-container {
    background-color: red;
    margin: 0;
    width: 100vw;
    position: absolute;
}

.circle {
    width: 900px;
    height: 900px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #13e3ff, #001367); /* Fond bleu clair pour le cercle */
    position: absolute; /* Positionnement absolu par rapport au conteneur body */
    z-index: -1; /* Z-index inférieur pour placer le cercle en arrière-plan */
    top: -200px; /* Déplacer le cercle vers le haut pour le faire dépasser légèrement de l'écran */
    left: -150px;
}

.black-band {
    width: 100vw;
    height: 120px; /* Hauteur de la bande noire */
    background-color: black;
    position: absolute;
    top: 650px;
    transform: translateY(-50%);
    z-index: 0; /* Z-index plus élevé pour placer la bande noire au-dessus du cercle */
}   

header {
    max-height: 100px;
}

.white-bar {
    width: 100%;
    height: 85px; /* Hauteur de la bande blanche */
    background-color: white;
    position: absolute;
    top: 0.8vw;
    z-index: 3; /* Z-index plus élevé pour placer la bande blanche au-dessus du cercle et de la bande noire */
}

ul {
    z-index: 4 ;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}
h3 {
    color: white;
}
p {
    color: white;
}