.circle-container {
    background-color: red;
    margin: 0;
    width: 100vw;
    position: absolute;
}

.circle {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #13e3ff, #001367); /* Fond bleu clair pour le cercle */
    position: absolute; /* Positionnement absolu par rapport au conteneur body */
    z-index: -1; /* Z-index inférieur pour placer le cercle en arrière-plan */
    top: -200px; /* Déplacer le cercle vers le haut pour le faire dépasser légèrement de l'écran */
    left: -150px;
}
.boisson_button {
    border-radius: 10px;
}
.black-band {
    width: 100vw;
    height: 140px; /* Hauteur de la bande noire */
    background-color: black;
    position: absolute;
    top: 38vw;
    transform: translateY(-50%);
    z-index: 0; /* Z-index plus élevé pour placer la bande noire au-dessus du cercle */
}  
body {
    margin: 0;
    background-color: black; /* Fond noir pour le reste de la page */
}
.title{
    position: relative;
    display: flex;
}
.vins {
    position: relative;
    width: 100vw;
    text-align: center;
    margin-top: 3vw;
}
.maps {
    text-align: center;
    margin-top: 3vw;
    border-radius: 10px;
    order: 2;
}
.img_maps{    
    order: 2;
    margin-left: 8vw;
}
.text_maps{
    margin-top: 10vw;
    padding-left:  5vw;
}
.text_maps_text{
    font-size: 1.5vw;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 120px;
}
label{
    color: white;
}
td {
    border: none;
    padding: 8px;
    text-align: center;
}
.img_icon_img{
    margin-left: 2vw;
}
.burger {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

img {
    max-width: 100%;
    height: auto;
}
h3 {
    color: white;
}
p {
    color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer {
    display: flex;
}
.footer_icon {

}
.footer_text {

}
.div_maps{
    display: flex;
    flex-direction: row;
}
.img_title{
    order: 1;
}
.text_turn {
    order: 2;
    margin-left: 3vw;
    margin-top: 8vw;
}
.title_burger_div{
    order: 3;
}
.title_burger{
    color: white;
    margin: 0;
    text-align: center;
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 10vw;
}
.image_burger{
    position: relative;
    border-radius: 55px;
    margin-bottom: 6vw;
    margin-left: 2vw;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px; /* Ajuste la marge entre les éléments de la liste selon tes besoins */
}
@font-face {
    font-family: 'Abang';
    src: url('styles/fonts/Abang.otf') format('opentype');
    /* Ajoute d'autres formats de fichier si nécessaire */
    font-weight: normal;
    font-style: normal;
}

nav a {
    text-decoration: none;
    color: #333; /* Ajuste la couleur du texte selon tes besoins */
    font-family: 'Protest Riot';

}
.white-bar {
    width: 85vw;
    height: 85px; /* Hauteur de la bande blanche */
    background-color: white;
    position: absolute;
    top: 0.8vw;
    right: 0; /* La barre sera collée à droite */
    z-index: -1; /* Z-index plus élevé pour placer la bande blanche au-dessus du cercle et de la bande noire */
    border-bottom-left-radius: 75px;
}
.nav_header{
    margin-bottom: 2vw;
    margin-right: -12vw;
}
nav ul li {
    margin-right: 8vw; /* Ajuste la marge entre les éléments de la liste selon tes besoins */
    font-family: 'Protest Guerrilla';
    font-size: 1.4vw;
}

button {
    background-color: #13e3ff; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement interne (haut/bas, gauche/droite) */
    font-size: 16px; /* Taille de la police */
    border: none; /* Retirer la bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur au survol */
    transition: background-color 0.3s ease; /* Animation de transition de couleur de fond */
    margin-bottom: 2vw;
    margin-right: 3vw;
}

button:hover {
    background-color: #0098ac; /* Couleur de fond au survol */
}
.img_icon {
    margin-left: 10vw;
}
h3 {
    font-family: 'Protest Guerrilla';
}