.title{
    position: relative;
}
.image_burger{
    position: relative;
}
.vins {
    position: relative;
    width: 100vw;
    text-align: center;
    margin: 3vw;
}
.maps {
    position: relative;
    width: 100vw;
    text-align: center;
    margin: 3vw;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.burger {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

img {
    max-width: 100%;
    height: auto;
}
h3 {
    color: white;
}
p {
    color: white;
}
.header {
    display: flex;
}